*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A0C23;
    font-weight: 500;
    display: flex;
    min-width: 100%;
}

.main{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3em;
    margin: 1em 0;
    color:  #7D3DAD;
}

.social-media{
    display: flex;
    align-items: center;
}

.social-media a:first-child img{
    width: 33px;
    margin-left: 0;
}

.social-media img{
    width: 45px;
    margin-left: 1.5em;
}

.social-media img:hover{
    transform: scale(0.90);
}

.alternative{
    margin-top: 1em;;
}

.alternative span{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    position: relative;
    color: #DFC4F1;
}

.alternative span::before, .alternative span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    background-color: #7C3EAD;
    bottom: 50%;
    right: 50px;
}

.alternative span::after{
    left: 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    display: flex;
    flex-direction: column;
}

form label span{
    font-size: 20px;
    margin-top: 1em;
    color: #DFC4F1;
}

form input{
    width: 300px;
    height: 50px;
    padding: 0 10px;
    margin-top: 0.5em;
    outline: none;
    color: #DAF1F9;
    font-size: 15px;
    background-color: #4C1B86;
    border: none;
    border-radius: 8px;
}

form input:hover{
    border: 1px solid #7D3DAD;
}

form input[type= "submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 2em;
    border: 2px solid #7D3DAD;
    border-radius: 30px;
    font-size: 18px;
    color: #DFC4F1;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

form input[type= "submit"]:hover{
    border: none;
    background-color: #4C1B86;
    transform: scale(1.1);
}

section {
    display: flex;
    align-items: center;
}

section img{
    width: 500px;
    animation: flutuacao 10s ease-in-out infinite;
}

@keyframes flutuacao{
    0%, 100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}

@media (max-width: 870px){
   section{
       display: none;
   }

   body{
       justify-content: center;
   }

   h1{
       text-align: center;
       font-size: 2em;
   }
}





